* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    height: 100vh;  
    background: #414345;
}

img {
    display: block;
    width: 100px;
    border-radius: 50%;
    margin: auto;
}

h1 {
    padding-top: 10%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
}

form {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: cornsilk;
    background: #4776E6;
    border-radius: 10px;
    border: 1px solid #000;
    width: 80%;
    height: 80%;
    margin: auto;
}

form .form-group {
    margin-top: 5%;
    text-align: center;
    padding: 3%;
}

.form-group input[type= text], input[type= password] {
    border-radius: 10px;
    width: 70%;
    height: 2.3em;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    transition: all 0.5s;

}

.form-group label {
    display: block;
    margin: auto;
    text-align: left;
    width: 70%;
    display: block;
    overflow: hidden;
    font: 20px normal sans-serif;
}

input[type=submit] {
    display: block;
    margin: 10% auto;
    width: 35%;
    height: 3em;
    border: none;
    background: #1F1C2C;
    color: white;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.5s;
}

input[type=submit]:hover {
    background: #000 ;
    color: #BBD2C5;
    cursor: pointer;
    transition: all 0.5s;
    width: 40%;
    font:bold 17px sans-serif;
}

input[type= text]:focus, input[type=password]:focus {
    transition: all 0.7s;
    width: 80%;
    border: 2px solid #0165F7 ;
}

@media(min-width: 750px) {
    form {
        margin: auto;
        width: 35%;
    }
}